@using Microsoft.AspNet.Identity
@model List<LearnIT.Domain.Photo>
@{
    ViewBag.Title = "Mis Fotos";
    var basePath = "/images/" + User.Identity.GetUserId() + "/";
}
<h2>Mis Fotos</h2>
<div class="container">
    @foreach (var foto in Model)
    {
        <div class="col-lg-3">
            <div class="well well-sm">
                <img class="img-responsive" src="@(basePath + foto.FileName)" />
                <p>
                    <i class="fa fa-archive"></i>
                    @foto.Name
                </p>
                <p>
                    <i class="fa fa-th-list"></i>
                    @foto.Description
                </p>
                <p>
                    <i class="fa fa-calendar"></i>
                    @foto.Creation.ToShortDateString()
                </p>
                <p>
                    <i class="fa fa-tags"></i>
                    @foto.Tags
                </p>
                <p>
                    <div class="btn-group">
                        <a class="btn btn-success" href="@Url.Action("Download",new {id=foto.Id})">
                            <i class="fa fa-download"></i> Descargar
                        </a>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a><i class="fa fa-edit"></i> Editar</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a><i class="fa fa-trash"></i> Eliminar</a></li>
                        </ul>
                    </div>
                </p>
            </div>
        </div>
    }
</div>
